@model User

@{
    ViewBag.Title = "title";
    Layout = "_User";
}
<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4">

                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0">@Model.FullName</h5>
                </div>

                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Current Balance</h5>
                        </div>
                        <div class="card-body">
                            <h3>$@Model.Balance.ToString("0.00")</h3>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Recent Transactions</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                @if (Model.Transactions.Count > 0)
                                {
                                    @foreach (var transactions in Model.Transactions)
                                    {
                                        <li class="list-group-item">Transaction: @transactions.TransactionAmount - @transactions.TransactionDate</li>
                                    }
                                }
                                else
                                {
                                    <li class="list-group-item">No transactions</li>
                                }

                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Expense Categories</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">Food - $300.00</li>
                                <li class="list-group-item">Transportation - $150.00</li>
                                <li class="list-group-item">Entertainment - $100.00</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Add transaction</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <select class="form-control" id="transactionType" required>
                                    <option value="" selected disabled>Select Type</option>
                                    <option value="income">Income</option>
                                    <option value="expense">Expense</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" placeholder="Enter description" required>
                            </div>
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" id="amount" placeholder="Enter amount" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Transaction</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>